dub.selections.json
docs/
out/
.dub/
.idea/
serialize_benchmark.so
serialize_benchmark.dylib
serialize_benchmark.dll
serialize_benchmark.a
serialize_benchmark.lib
serialize_benchmark.iml
serialize_benchmark
serialize_benchmark-test-*
libserialize_benchmark.a
*.exe
*.o
*.obj
*.lst
